<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments.html :: head">
</head>
<body id="sign-up-body">

    <div th:replace="fragments.html :: main-nav"></div>

    <div class="justify-content-center container col-5" id="sign-up-div">
        <div class="text-center py-3">
            <h4>회원가입</h4>
        </div>
        <div class="row pt-3 justify-content-center" >
            <form th:action="@{/sign-up}" method="post" th:object="${signUpForm}" novalidate
                  class="needs-validation col-10">
                <div class="form-group">
                    <label for="memberId">아이디</label>
                    <input type="text" id="memberId" th:field="*{memberId}" required
                           class="form-control" minlength="3" maxlength="10" placeholder="아이디 입력(3~10자)">
                    <small class="invalid-feedback">아이디는 필수정보입니다.</small>
                    <small class="form-text text-danger" th:if="${#fields.hasErrors('memberId')}" th:errors="*{memberId}">
                        MemberId errors
                    </small>
                </div>
                <div class="form-group">
                    <label for="password">비밀번호</label>
                    <input type="password" id="password" th:field="*{password}" required
                           class="form-control" minlength="8" maxlength="50" placeholder="비밀번호(숫자,영문,특수문자 조합 최소8자)">
                    <small class="invalid-feedback">비밀번호는 필수정보입니다.</small>
                    <small class="form-text text-danger" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">
                        Password errors
                    </small>
                </div>
                <div class="form-group">
                    <label for="passwordConfirm">비밀번호 확인</label>
                    <input type="password" id="passwordConfirm" th:field="*{passwordConfirm}" required
                           class="form-control" minlength="8" maxlength="50" placeholder="비밀번호 확인">
                </div>
                <div class="form-group">
                    <label for="email">이메일</label>
                    <input type="text" id="email" th:field="*{email}" required
                           class="form-control" placeholder="이메일">
                    <small class="invalid-feedback">이메일은 필수정보입니다.</small>
                    <small class="form-text text-danger" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">
                        Email errors
                    </small>
                </div>
                <div class="form-group">
                    <button class="btn btn-block btn-secondary" type="submit">
                        회원가입
                    </button>
                </div>
            </form>
        </div>
    </div>

    <script th:replace="fragments.html :: needs-validation"></script>

</body>
</html>