<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments.html :: head">
</head>
<body>

    <div th:replace="fragments.html :: main-nav"></div>

    <nav th:fragment="MyPage-nav" class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand navPadding=" href="#" th:href="@{/profile}">My Page</a>
    </nav>

    <div th:replace="fragments.html :: MyPage-nav"></div>

    <div class="row justify-content-center mt-5">
        <div class="col-8">
            <div th:if="${message}" class="alert alert-info alert-dismissible fade show" role="alert">
                <p th:text="${message}"></p>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        </div>
        <div class="row col-12 justify-content-center">
            <div class="col-4"  th:replace="fragments.html :: setting-menu (currentMenu = 'keyword')"></div>
            <div class="col-6 ml-5">
                <div class="alert alert-info">
                    <strong>키워드</strong>를 입력해주세요
                </div>
                <div id="whitelist" th:text="${whitelist}" hidden></div>
                <input type="text" id="tags" name="tags" th:value="${#strings.listJoin(keywordList,',')}" class="tagify-outside col-12">
            </div>
        </div>
    </div>

    <script src="/node_modules/@yaireo/tagify/dist/tagify.min.js"></script>
    <script type="application/javascript" th:inline="javascript">
        $(function() {
            var csrfToken = /*[[${_csrf.token}]]*/ null;
            var csrfHeader = /*[[${_csrf.headerName}]]*/ null;
            $(document).ajaxSend(function (e, xhr, options) {
                xhr.setRequestHeader(csrfHeader, csrfToken);
            });
        });
    </script>
    <script type="application/javascript">
        $(function () {
            function tagRequest(url, title) {
                $.ajax({
                    dataType: "json",
                    autocomplete: {
                        enabled: true,
                        rightKey: true,
                    },
                    contentType: "application/json; charset=utf-8",
                    method: "POST",
                    url: "/settings/keyword" + url,
                    data: JSON.stringify({'title': title})
                }).done(function (data, status) {
                    console.log("${data} and status is ${status}");
                });
            }

            function onAdd(e) {
                tagRequest("/add", e.detail.data.value);
            }

            function onRemove(e) {
                tagRequest("/remove", e.detail.data.value);
            }

            var tagInput = document.querySelector("#tags");

            var tagify = new Tagify(tagInput, {
                pattern: /^.{0,20}$/,

                dropdown : {
                    enabled: 1, // suggest tags after a single character input
                } // map tags
            });

            tagify.on("add", onAdd);
            tagify.on("remove", onRemove);

            // add a class to Tagify's input element
            tagify.DOM.input.classList.add('form-control');
            // re-place Tagify's input element outside of the  element (tagify.DOM.scope), just before it
            tagify.DOM.scope.parentNode.insertBefore(tagify.DOM.input, tagify.DOM.scope);
        });
    </script>
</body>
</html>